div {
	width: 400px;
	margin: auto;
	box-sizing: border-box;
}

.satu {
	background-color: royalblue;
	padding: 10px;
	border: 8px solid black;
}
.dua {
	width: 320px;
	background-color: salmon;
	padding: 30px;
	border: 6px dotted lightgreen;
}